<!--<div class="content">-->
    <!--<div class="selector">-->
        <!--<ng2-dropdown>-->
            <!--<ng2-dropdown-button>-->
                <!--User Attribute-->
            <!--</ng2-dropdown-button>-->
            <!--<ng2-dropdown-menu>-->
                <!--<ng2-menu-item *ngFor="let attribute of attributesList">-->
                    <!--{{ attribute.name }}-->
                <!--</ng2-menu-item>-->
            <!--</ng2-dropdown-menu>-->
        <!--</ng2-dropdown>-->
        <!--<span>&nbsp;&nbsp;&nbsp;=&nbsp;&nbsp;&nbsp;</span>-->
        <!--<input type="text" placeholder="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
        <!--<i class="ti-plus"></i>-->
    <!--</div>-->
<!--</div>-->